<h1 mat-dialog-title>
    <ng-container *ngIf="!(data && data.user); else elseTitle">Add new user</ng-container>
    <ng-template #elseTitle>Edit user {{data.user.username}}</ng-template>
</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm" fxLayout="column">
        <mat-form-field>
            <mat-select formControlName="organization" placeholder="Organization" required>
                <mat-option *ngFor="let org of organizations" [value]="org">{{org.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="role" placeholder="Role">
                <mat-option *ngFor="let role of roles" [value]="role">{{roleDescriptionMap[role].description}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="username" matInput placeholder="Username" required>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="firstName" matInput placeholder="First name" required>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="lastName" matInput placeholder="Last name" required>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="email" matInput placeholder="Email" type="email" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button (click)="cancel()">Cancel</button>
    <button *ngIf="!(data && data.user); else elseButton" mat-button color="primary" (click)="create()">Create</button>
    <ng-template #elseButton>
        <button mat-button color="primary" (click)="update()">Update</button>
    </ng-template>
</div>