<h1 mat-dialog-title>
        Add new user
</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm" fxLayout="column">
        <mat-form-field>
            <mat-select formControlName="organizationId" placeholder="Organization" required>
                <mat-option *ngFor="let org of organizations" [value]="org.id">{{org.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="role" placeholder="Role">
                <mat-option *ngFor="let role of roles" [value]="role">{{roleDescriptionMap[role].description}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="username" matInput placeholder="Username" required>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="firstName" matInput placeholder="First name" required>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="lastName" matInput placeholder="Last name" required>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="email" matInput placeholder="Email" type="email" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button color="primary" (click)="create()">Create</button>
</div>