<h2>Create new event</h2>

<mat-horizontal-stepper [linear]="false">
    <ng-template matStepperIcon="edit" let-index="index">{{index+1}}</ng-template>
    <ng-template matStepperIcon="done" let-index="index">{{index+1}}</ng-template>
    <ng-template matStepperIcon="number" let-index="index">{{index+1}}</ng-template>
    <ng-template matStepperIcon="error" let-index="index">{{index+1}}</ng-template>
    <mat-step [stepControl]="createEventForm.get('eventInfo')">
        <ng-template matStepLabel>Event info</ng-template>
        <form [formGroup]="createEventForm.get('eventInfo')" fxLayout="column">
            <mat-form-field>
                <input formControlName="displayName" matInput placeholder="Event name" required (change)=updateURL($event.target.value)>
            </mat-form-field>
            <mat-form-field>
                <span matPrefix>{{baseUrl}}/event/</span>
                <input formControlName="shortName" matInput placeholder="Event url" required>
                <span matSuffix>/</span>
            </mat-form-field>
            <mat-form-field [fxFlex]="mapUrl ? '75%' : '100%'">
                <textarea cdkTextareaAutosize formControlName="location" matInput placeholder="Event Location" required (blur)="updateLocation($event.target.value)"></textarea>
                <mat-hint align="start">Please enter the address of the Location. This will be used for displaying the map on the event page.</mat-hint>
            </mat-form-field>
            <div *ngIf="mapUrl">
                <img class="img-responsive" [src]="mapUrl">
            </div>
            <mat-form-field>
                <mat-label>Timezone</mat-label>
                <mat-select required formControlName="timeZone">
                    <mat-option *ngFor="let tz of timezones" [value]="tz">{{tz}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div fxLayout="row">
                <mat-form-field fxFlex="50%" class="padding-right-10">
                    <input formControlName="startDate" required matInput [matDatepicker]="pickerStart" readonly="true" placeholder="Event start date" (click)="pickerStart.open()" (focus)="pickerStart.open()">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="50%">
                    <input formControlName="startTime" required matInput placeholder="Event start time">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50%" class="padding-right-10">
                    <input formControlName="endDate" required matInput [matDatepicker]="pickerEnd" readonly="true" placeholder="Event end date" (click)="pickerEnd.open()" (focus)="pickerEnd.open()">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="50%">
                    <input formControlName="endTime" required matInput placeholder="Event end time">
                </mat-form-field>
            </div>
            <ng-container *ngFor="let lang of selectedLanguages" [formGroup]="createEventForm.get('eventInfo.description')">
                <mat-form-field>
                    <textarea [formControlName]="lang.locale" matInput cdkTextareaAutosize [placeholder]="'Event Description (' + lang.displayLanguage + ')'" required></textarea>
                    <button *ngIf="selectedLanguages.length > 1" (click)="removeLanguage(lang)" type="button" mat-icon-button matSuffix>
                        <mat-icon svgIcon="delete"></mat-icon>
                    </button>
                </mat-form-field>
            </ng-container>
            <p *ngIf="otherLanguages && otherLanguages.length > 0">
                <mat-menu #languageSelectorMenu="matMenu">
                    <button (click)="addLanguage(l)" mat-menu-item *ngFor="let l of otherLanguages">{{l.displayLanguage}}</button>
                </mat-menu>
                <button type="button" mat-icon-button [matMenuTriggerFor]="languageSelectorMenu">Add translation</button>
            </p>
            <p>
                <input type="file" accept="image/png, image/jpeg" (change)="handleSelectedLogoFile($event.target.files)">
                <img *ngIf="createEventForm.value.eventInfo.fileBlobId" [src]="'/file/'+createEventForm.value.eventInfo.fileBlobId">
            </p>
        </form>
    </mat-step>
    <mat-step [stepControl]="createEventForm.get('links')">
        <ng-template matStepLabel>Links</ng-template>
        <form [formGroup]="createEventForm.get('links')" fxLayout="column">
            <mat-form-field>
                <input formControlName="websiteUrl" matInput placeholder="Website link" type="url" required>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="termsAndConditionsUrl" matInput placeholder="Terms and Conditions link" type="url" required>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="privacyPolicyUrl" matInput placeholder="Privacy policy link" type="url">
                <mat-hint align="start">Privacy policy link is optional. However, it is good practice to have one.</mat-hint>
            </mat-form-field>
        </form>
    </mat-step>
    <mat-step [stepControl]="createEventForm.get('payment')">
        <ng-template matStepLabel>Payment/Pricing</ng-template>
        <form [formGroup]="createEventForm.get('payment')" fxLayout="column">
            <p fxLayout="column">
                <label class="label-for-inputs">Ticket price model</label>
                <mat-radio-group formControlName="freeOfCharge" required>
                    <mat-radio-button [value]="false">Entry fee requested</mat-radio-button>
                    <mat-radio-button [value]="true">Free of charge</mat-radio-button>
                </mat-radio-group>
            </p>
            <ng-container *ngIf="createEventForm.value.payment.freeOfCharge === false">
                <mat-form-field>
                    <input formControlName="regularPrice" matInput placeholder="Regular Price" type="number">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="currency" matInput placeholder="Currency" [matAutocomplete]="autoCurrency">
                    <mat-autocomplete #autoCurrency="matAutocomplete" autoActiveFirstOption>
                        <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency.code">{{currency.name}} ({{currency.code}})</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="vatPercentage" matInput placeholder="Taxes (%)" type="number">
                </mat-form-field>
                <p>
                    <mat-checkbox formControlName="vatIncluded">Price includes taxes</mat-checkbox>
                </p>
                <p>
                    <label class="label-for-inputs">Accepted payment methods</label>
                </p>
            </ng-container>
        </form>
    </mat-step>
    <mat-step [stepControl]="createEventForm.get('tickets')">
        <ng-template matStepLabel>Tickets</ng-template>
        <form [formGroup]="createEventForm.get('tickets')" fxLayout="column">
            <mat-form-field>
                <input formControlName="availableSeats" matInput placeholder="Max tickets" type="number" required>
            </mat-form-field>
        </form>
    </mat-step>
</mat-horizontal-stepper>

<!--<pre>{{createEventForm.value|json}}</pre>-->