<h1 mat-dialog-title>
    <ng-container *ngIf="!data.apiKey; else elseTitle">Add new api key</ng-container>
    <ng-template #elseTitle>Edit api key {{data.apiKey.username}}</ng-template>
</h1>
<div mat-dialog-content>
    <form [formGroup]="apiKeyForm" fxLayout="column">
        <mat-form-field>
            <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role">{{roleDescriptionMap[role].description}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <textarea formControlName="description" matInput cdkTextareaAutosize placeholder="Description" required></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button (click)="cancel()">Cancel</button>
    <button *ngIf="!data.apiKey; else elseButton" mat-button color="primary" (click)="create()">Create</button>
    <ng-template #elseButton>
        <button mat-button color="primary" (click)="update()">Update</button>
    </ng-template>
</div>