<h1 mat-dialog-title>
    <ng-container *ngIf="!extensionToEdit; else elseTitle">Add new extension</ng-container>
    <ng-template #elseTitle>Edit extension {{extensionToEdit.name}}</ng-template>
</h1>
<div mat-dialog-content>
    <form [formGroup]="extensionForm" fxLayout="column">
        <mat-form-field>
            <mat-select formControlName="organizationId" placeholder="Organization" (selectionChange)="orgChanged()">
                <mat-option value='-'>System (apply for all)</mat-option>
                <mat-option [value]="org.id" *ngFor="let org of organizations">{{org.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="extensionForm.value.organizationId !== '-'">
            <mat-select formControlName="eventId" placeholder="Event">
                <mat-option value='-'>All events</mat-option>
                <mat-option [value]="event.key | toNumber" *ngFor="let event of eventsInOrgId[extensionForm.value.organizationId] | keyvalue ">
                    {{event.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="name" matInput placeholder="Name" required>
        </mat-form-field>
        <mat-form-field>
            <textarea placeholder="Script" formControlName="script" matInput cdkTextareaAutosize></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button (click)="cancel()">Cancel</button>
    <button *ngIf="!extensionToEdit; else elseButton" mat-button color="primary" (click)="create()">Create</button>
    <ng-template #elseButton><button mat-button color="primary" (click)="update()">Update</button></ng-template>
</div>
