<h1 mat-dialog-title>Select organization</h1>
<div mat-dialog-content>
    <table mat-table *ngIf="organizations" [dataSource]="organizations" class="full-width">

        <ng-container matColumnDef="selection">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let org">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(org) : null"
                    [checked]="selection.isSelected(org)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let org"><button mat-flat-button (click)="selectOrg(org)"
                    class="button-as-link">{{org.name}}</button></td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email </th>
            <td mat-cell *matCellDef="let org">{{org.email}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="orgDisplayColumns"></tr>
        <tr mat-row *matRowDef="let o; columns: orgDisplayColumns" (click)="selection.toggle(o)" (dblclick)="selectOrg(o);"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="selection.selected[0]" cdkFocusInitial color="primary">Select</button>
</div>