<h2>
    Organizations
    <button mat-button color="primary" (click)="newOrganization()"><mat-icon svgIcon="add"></mat-icon> Add new</button>
</h2>
<table mat-table [dataSource]="organizations" class="full-width">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>name</th>
        <td mat-cell *matCellDef="let organization">{{organization.name}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>description</th>
        <td mat-cell *matCellDef="let organization">{{organization.description}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let organization">{{organization.email}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let organization"><button (click)="edit(organization)" matTooltip="Edit" mat-icon-button><mat-icon svgIcon="edit"></mat-icon></button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="organizationsDisplayColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: organizationsDisplayColumns"></tr>
</table>