<div fxLayout="column" fxFill >
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <h1>Alf.io</h1>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlex="auto">
        <mat-sidenav opened mode="side">
            <mat-nav-list>
                    <a mat-list-item  [routerLink]="['/']" routerLinkActive="active-menu-link">Events</a>
                    <a mat-list-item  [routerLink]="['/organizations']" routerLinkActive="active-menu-link">Organizations</a>
                    <a mat-list-item  [routerLink]="['/users']" routerLinkActive="active-menu-link">Users</a>
                    <a mat-list-item  [routerLink]="['/api-keys']" routerLinkActive="active-menu-link">Api Keys</a>
                    <a mat-list-item  [routerLink]="['/groups']" routerLinkActive="active-menu-link">Groups</a>
                    <a mat-list-item  [routerLink]="['/configuration']" routerLinkActive="active-menu-link">Configuration</a>
                    <a mat-list-item  [routerLink]="['/extension']" routerLinkActive="active-menu-link">Extension</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>