<div fxLayout="column" fxFill >
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-form-field *ngIf="organizations && selected">
                <mat-select [(ngModel)]="selected" (selectionChange)="changeOrganization()">
                    <mat-select-trigger>
                        <mat-icon>business</mat-icon> {{selected.name}}
                    </mat-select-trigger>
                    <mat-option *ngFor="let org of organizations" [value]="org"><mat-icon>business</mat-icon> {{org.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlex="auto">
        <mat-sidenav opened mode="side">
            <mat-nav-list *ngIf="selected">
                <a mat-list-item (click)="navigateToOrg('')" >Events</a>
                <a mat-list-item (click)="navigateToOrg('organization')">Organization</a>
                <a mat-list-item (click)="navigateToOrg('users')" >Users</a>
                <a mat-list-item (click)="navigateToOrg('api-keys')">Api Keys</a>
                <a mat-list-item (click)="navigateToOrg('groups')">Groups</a>
                <a mat-list-item (click)="navigateToOrg('configuration')">Configuration</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>