<h2>Events</h2>

<form [formGroup]="searchForm">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-form-field>
            <input matInput formControlName="search" (keyup)="handleSearch()">
            <mat-label><mat-icon matPrefix>search</mat-icon> Search</mat-label>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select multiple formControlName="status" (selectionChange)="loadEvents()">
                <mat-option value="PUBLIC">Published</mat-option>
                <mat-option value="DRAFT">Draft</mat-option>
                <mat-option value="PAST">Past</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>

<mat-list *ngIf="events != null">
    <mat-list-item *ngFor="let event of events">
        <img matListAvatar [src]="'/file/'+event.fileBlobId" alt="logo">
        <h3 matLine>{{event.displayName}} <span *ngIf="event.status === 'DRAFT'">(draft)</span></h3>
        <p matLine>
            {{event.formattedBegin}} / {{event.formattedEnd}}
        </p>
    </mat-list-item>
</mat-list>