<h2>
    Events
    <a mat-button color="primary" [routerLink]="['new-event']"><mat-icon svgIcon="add"></mat-icon> Create new event</a>
</h2>

<form [formGroup]="searchForm">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-form-field>
            <input matInput formControlName="search" (keyup)="handleSearch()">
            <mat-label><mat-icon matPrefix svgIcon="search"></mat-icon> Search</mat-label>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select multiple formControlName="status" (selectionChange)="loadEvents()">
                <mat-option value="PUBLIC">Listed</mat-option>
                <mat-option value="DRAFT">Not Listed</mat-option>
                <mat-option value="PAST">Past</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>

<mat-list *ngIf="events != null">
    <mat-list-item *ngFor="let event of events">
        <img matListAvatar [src]="'/file/'+event.fileBlobId" alt="logo">
        <h3 matLine><a [routerLink]="['event', event.shortName]">{{event.displayName}} <span *ngIf="event.status === 'DRAFT'">(not listed)</span></a></h3>
        <p matLine>
            {{event.formattedBegin}} / {{event.formattedEnd}}
        </p>
    </mat-list-item>
</mat-list>