<h2><a class="link-in-title" [routerLink]="['/admin/extension']">Extension</a> > logs</h2>

<table mat-table [dataSource]="extensionLogs" class="full-width">
    <ng-container matColumnDef="path">
        <th mat-header-cell *matHeaderCellDef>Path</th>
        <td mat-cell *matCellDef="let log">
            {{log.path}}
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Extension name</th>
        <td mat-cell *matCellDef="let log">
            {{log.name}}
        </td>
    </ng-container>
    <ng-container matColumnDef="effectivePath">
        <th mat-header-cell *matHeaderCellDef>Effective Path</th>
        <td mat-cell *matCellDef="let log">
            {{log.effectivePath}}
        </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let log">
            {{log.type}}
        </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let log">
            {{log.description}}
        </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let log">
            {{log.timestamp}}
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="extensionLogsDisplayColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: extensionLogsDisplayColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[50]" showFirstLastButtons (page)="loadPage($event.pageIndex)"></mat-paginator>