<h2>
    Api keys

    <button mat-button color="primary" (click)="newApiKey()"><mat-icon svgIcon="add"></mat-icon> Add new</button>
</h2>

<table mat-table [dataSource]="apiKeys" class="full-width">
    <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef>Enabled</th>
        <td mat-cell *matCellDef="let apiKey">{{apiKey.enabled}}</td>
    </ng-container>
    <ng-container matColumnDef="apiKey">
        <th mat-header-cell *matHeaderCellDef>Api key</th>
        <td mat-cell *matCellDef="let apiKey">{{apiKey.username}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let apiKey">{{apiKey.description}}</td>
    </ng-container>
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let apiKey">
            <ng-container *ngIf="(rolesDescriptor$ | async) as rolesDescriptor">
                <span *ngFor="let role of apiKey.roles">{{rolesDescriptor[role].description}}</span>
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let apiKey">
            <button mat-icon-button type="button" matTooltip="Edit api key" (click)="editApiKey(apiKey)">
                <mat-icon svgIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button type="button" [matTooltip]="apiKey.enabled ? 'Disable' : 'Enable'" (click)="toggleVisibility(apiKey)">
                <mat-icon [svgIcon]="apiKey.enabled ? 'visibility_off' : 'visibility'"></mat-icon>
            </button>
            <button mat-icon-button type="button" matTooltip="Delete api key" (click)="deleteApiKey(apiKey)">
                <mat-icon svgIcon="delete"></mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="apiKeysDisplayColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: apiKeysDisplayColumns"></tr>
</table>
