<h2>Send custom message to all attendees</h2>
<p>Write a custom message and broadcast it to all attendees</p>

<form [formGroup]="composeMessageForm" (submit)="sendMessage()" fxLayout="column">

    <mat-form-field floatLabel="always">
        <mat-label>Send it to a specific category</mat-label>
        <mat-select formControlName="categoryId">
            <mat-option [value]="''">All</mat-option>
            <mat-option *ngFor="let category of ticketCategories" [value]="category.id">{{category.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button type="submit">Preview</button>
</form>