/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding-left:16px;
    padding-right:16px;
}

.full-width {
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}