<h1 mat-dialog-title>Basic Configuration</h1>
<div mat-dialog-content>
    <p>You should take a look at the "System Configuration" section, however here below you can find the minimum, required configuration in order to run Alf.io</p>


    <form *ngIf="basicConfiguration" [formGroup]="basicConfiguration" fxLayout="column">
        <h2>General</h2>
        <div formGroupName="GENERAL" fxLayout="column">
            <mat-form-field>
                <mat-label>Supported translations</mat-label>
                <mat-select formControlName="SUPPORTED_LANGUAGES" multiple>
                    <mat-option *ngFor="let lang of allLanguages" [value]="lang.value">{{lang.displayLanguage}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input formControlName="BASE_URL" matInput [placeholder]="allConf.GENERAL.BASE_URL.description">
            </mat-form-field>
        </div>

        <h2>Email</h2>
        <div formGroupName="MAIL" fxLayout="column">
            <mat-radio-group formControlName="MAILER_TYPE">
                <mat-radio-button value="smtp">SMTP</mat-radio-button>
                <mat-radio-button value="mailgun">Mailgun</mat-radio-button>
                <mat-radio-button value="mailjet">Mailjet</mat-radio-button>
                <mat-radio-button value="sendgrid">Sendgrid</mat-radio-button>
                <mat-radio-button value="disabled">Disabled</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="basicConfiguration.value.MAIL.MAILER_TYPE === 'smtp'" fxLayout="column">

            </div>
            <div *ngIf="basicConfiguration.value.MAIL.MAILER_TYPE === 'mailgun'" fxLayout="column">

            </div>
            <div *ngIf="basicConfiguration.value.MAIL.MAILER_TYPE === 'mailjet'" fxLayout="column">

            </div>
            <div *ngIf="basicConfiguration.value.MAIL.MAILER_TYPE === 'sendgrid'" fxLayout="column">

            </div>
        </div>

        <h2>Map</h2>
        <div formGroupName="MAP" fxLayout="column">
            <mat-radio-group formControlName="MAPS_PROVIDER">
                <mat-radio-button value="NONE">None</mat-radio-button>
                <mat-radio-button value="GOOGLE">Google maps</mat-radio-button>
                <mat-radio-button value="HERE">Here maps</mat-radio-button>
            </mat-radio-group>

            <div *ngIf="basicConfiguration.value.MAP.MAPS_PROVIDER === 'GOOGLE'" fxLayout="column">
                <mat-form-field>
                    <input formControlName="MAPS_CLIENT_API_KEY" matInput [placeholder]="allConf.MAP.MAPS_CLIENT_API_KEY.description">
                </mat-form-field>
            </div>
            <div *ngIf="basicConfiguration.value.MAP.MAPS_PROVIDER === 'HERE'" fxLayout="column">
                <mat-form-field>
                    <input formControlName="MAPS_HERE_APP_ID" matInput [placeholder]="allConf.MAP.MAPS_HERE_APP_ID.description">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="MAPS_HERE_APP_CODE" matInput [placeholder]="allConf.MAP.MAPS_HERE_APP_CODE.description">
                </mat-form-field>
            </div>
        </div>

        <pre>{{basicConfiguration.value|json}}</pre>
    </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary">Save</button>
</div>