<h2>
    Groups
    <button mat-button color="primary" (click)="newGroup()"><mat-icon svgIcon="add"></mat-icon> Add new</button>
</h2>

<p>groups can be used to limit access to certain categories or events</p>

<table mat-table [dataSource]="groups" class="full-width">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let group">{{group.name}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let group">{{group.description}}</td>
    </ng-container>
    <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef>Active</th>
            <td mat-cell *matCellDef="let group">{{group.active}}</td>
        </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let group">
            <button *ngIf="group.active" mat-icon-button type="button" matTooltip="Disable group" (click)="disableGroup(group)">
                <mat-icon svgIcon="visibility_off"></mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="groupDisplayColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: groupDisplayColumns"></tr>
</table>